body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#legend-container
{
  margin-top: 20px; /* Add margin on the top */
  margin-right: 20px; /* Add margin on the right */
  margin-bottom: 20px; /* Add margin on the bottom */
  margin-left: 20px; /* Add margin on the left */
}
#legend,
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.legend-square {
  width: 20px; /* Adjust the width to match the desired size */
  height: 20px; /* Adjust the height to match the desired size */
  margin-right: 5px;
}
